{% extends '@ZenstruckMessengerMonitor/layout.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-4 col-lg-3">
            <div class="mb-3">
                {% embed '@ZenstruckMessengerMonitor/components/_refreshable_widget.html.twig' with {url: path('zenstruck_messenger_monitor_workers_widget')} %}
                    {% block content %}
                        {{ include('@ZenstruckMessengerMonitor/components/workers.html.twig', {workers: helper.workers}) }}
                    {% endblock %}
                {% endembed %}
            </div>
            <div class="mb-3">
                {% embed '@ZenstruckMessengerMonitor/components/_refreshable_widget.html.twig' with {url: path('zenstruck_messenger_monitor_transports_widget')} %}
                    {% block content %}
                        {{ include('@ZenstruckMessengerMonitor/components/transports.html.twig', {transports: helper.transports}) }}
                    {% endblock %}
                {% endembed %}
            </div>
            <div class="mb-3">
                {% embed '@ZenstruckMessengerMonitor/components/_refreshable_widget.html.twig' with {url: path('zenstruck_messenger_monitor_snapshot_widget')} %}
                    {% block content %}
                        {{ include('@ZenstruckMessengerMonitor/components/snapshot.html.twig', {subtitle: 'Last 24 Hours'}) }}
                    {% endblock %}
                {% endembed %}
            </div>
        </div>
        <div class="col-md-8 col-lg-9">
            {% embed '@ZenstruckMessengerMonitor/components/_refreshable_widget.html.twig' with {url: path('zenstruck_messenger_monitor_recent_messages_widget')} %}
                {% block content %}
                    {{ include('@ZenstruckMessengerMonitor/components/recent_messages.html.twig', {messages: messages, helper: helper}) }}
                {% endblock %}
            {% endembed %}
        </div>
    </div>
{% endblock %}
