{% embed '@ZenstruckMessengerMonitor/components/messages.html.twig' with {messages: messages.take(number|default(15))} %}
    {% block card_header %}
        <div class="d-flex justify-content-between align-items-center">
            <span>Recently Processed Messages <small><em class="text-secondary">Last {{ number|default(15) }}</em></small></span>
        </div>
    {% endblock %}
{% endembed %}
